#topBar{
  background-color: #9AC4F8;
}


/* Navigation */

#topBar a:link {
  text-decoration: none;
  color: white;
}
#topBar a:visited{
  color: #f2f2f2;
}
#topBar a:hover{
  color: #99EDCC;
}



#logo img{
  display: block;
  height: 35px;
  margin: 15px 10px 0 0;
}

a.nav-link{
  padding: 0;
}

:not(#logo) a{
  margin: 20px 10px 0 0;
}

/* #topBar ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#topBar li{
  float: left;
} */

/* #topBar ul li a{
  margin: 33px 5px 0 0;
} */

/* #topBar .row div{
  margin: 0 auto;
} */

#topBar h1{
  font-family: 'Merriweather', serif;
  color: white;
  max-width: 800px;
  text-align: center;
  margin-top: 10px;
}

/* Content */

#content{
  background-color: #CB958E;
  color: white;
  height: 600px;
  margin-top: 30px;
}

#content p{
  font-family: 'Rubik', sans-serif;
}




/* Sidebar */

#sidebar{
  background-color: #99EDCC;
  margin-top: 30px;
}

#sidebar p{
  font-family: 'Merriweather', serif;
  font-style: italic;
  font-weight: bold;
}
