#topBar{
  background-color: #9AC4F8;
}


/* Navigation */

#topBar a:link {
  text-decoration: none;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}
#topBar a:visited{
  color: #f2f2f2;
}
#topBar a:hover{
  color: #ffffff;
  text-shadow: 4px 4px 8px #000000;
}

#logo img{
  display: block;
  height: 35px;
  margin: 15px 10px 0 0;
}

a.nav-link{
  padding: 0;
}

:not(#logo) a{
  margin: 20px 10px 0 0;
}

#topBar h1{
  font-family: 'Merriweather', serif;
  color: white;
  max-width: 800px;
  text-align: center;
  margin-top: 10px;
  text-shadow: 1px 1px 8px #000000;
}


/* Content */

.content-container{
  background-image: url("../images/holding-greenery.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 30px;
}

.content{
  background-color: #CB958E;
  color: white;
  margin-top: 30px;
  padding: 15px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.content p{
  font-family: 'Rubik', sans-serif;
  font-size: 17px;
}


/* Sidebar */

.sidebar-container{
  background-image: url("../images/smoking.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 30px;
}

.sidebar{
  background-color: #99EDCC;
  margin-top: 30px;
  padding: 15px;
  position: absolute;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sidebar p{
  font-family: 'Merriweather', serif;
  font-style: italic;
  font-weight: bold;
  font-size: 16px;
}
